body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Kanit', sans-serif;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.navbar {
    background-color: #901CAD;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 1rem;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 1rem;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.purpBox {
    height: 10rem;
    background-color: #6c4fe9;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding-top: 1rem;
}

.sideBy {
    display: flex;
    flex-direction: row wrap;
}