/*
 potential colors to use
Mauve: #A96762

Umber: #6F5E53

Shadow: #6F5E53

Persian Orange: #6F5E53

English Vermillion: #D64045 

Night Moon: #14365d

Jet: #2d2dede

Eerie Black: #181818

#6b8e23"  OLIVE DRAB  very nice color to go with blue and greys   use this later

*/
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: #2e2e2e;
    color: #f1f1f1;
}

h1, h2, h3 {
    font-family: 'Kanit', sans-serif;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #f1f1f1;
}

/* ----START---- this bit of seciton for the fixed background that allows content to scroll */
.BGWrapper {
     height: 100%;
     line-height: 1.5;
}

.fixed-bg {
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.fixed-bg h1 {
    display: table-cell;
    display: table;
}

.scroll-bg {
    background-color: #0f0f0a;
    padding: 1px 70px;
    color: #676767;
}
/* bg 1 */
.bg-1 {
    background-image: url('../img/redmountainsforfog.png');
  }
/* bg 2 */
.bg-2 {
    background-image: url('../img/bluemountainsforfog.png');
}
/* bg 3 */
.bg-3 {
    background-image: url('../img/purpemountainsforfog.png');
}
/* --- END --- this bit of seciton for the fixed background that allows content to scroll */
.navbar {
    background-color: #615349;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}
/*     background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B); */
.jumbotron {
    padding: .5rem;
    background-image: linear-gradient(to right, #27211d, #887467, #52453d);
    color: white;
    margin: 0px;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.purpBox {
    height: 10rem;
    background-color: #6c4fe9;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding-top: 1rem;
}

.sideBy {
    display: flex;
    flex-direction: row wrap;
}

.card {
    background-color: #3a3a3a;
}